.cache/
build/
compile_commands.json
.DS_Store

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
#cmake-build-*
